tell application "Google Chrome"
    set chromeWindows to every window
    if (count of chromeWindows) is greater than 0 then
        set focusedWindow to item 1 of chromeWindows
        set index of focusedWindow to 1
        activate
        log "Focused on Google Chrome window."
    else
        log "Google Chrome window not found."
    end if
end tell

log "openning new google chrome tab"
tell application "System Events"
    keystroke "t" using {command down}
    delay 1 -- Delay to ensure the new tab is fully loaded
end tell

set myURL to "{{.MyURL}}"
log "navigating to " & myURL
tell application "Google Chrome"
    tell active tab of window 1
        set URL to myURL
    end tell
end tell

log "sleeping to allow page to load"
delay 3

log "scrolling to bottom of page"
tell application "System Events"
    key code 125 using {command down}
end tell

log "pressing up arrow key"
tell application "System Events"

    -- bring reviews bar into focus so that reviews are loaded
    repeat 10 times
        key code 126 -- Up arrow key
        delay 0.1 -- Adjust the delay as needed
    end repeat

end tell

log "allow reviews to load"
delay 7

log "select all text on page"
tell application "System Events"
    key code 0 using {command down}
end tell

log "copy to clipboard"
tell application "System Events"
    key code 8 using {command down}
end tell

delay 2

log "closing tab " & myURL
tell application "System Events"
    keystroke "w" using {command down}
end tell
